.menu {
  background-color: black;
  height: 100px;
}

.marca {
  background-color: black;
  height: 100px;
  width: 100%;
}

.contatos {
  background-color: black;
  height: 100px;
  width: 100%;
}

.navbar-right{
padding-top: 25px;
padding-right: 13px;
}

.navbar-right a{
color: #ed1c24;
}

.rodape {
  background-color: black;
  height: 50px;
}

.tabelarodape {
width:250px;
}

.linharodape {
padding-top:12px;
text-align:center
}

.linharodape a {
color: #ed1c24;
}

.linharodape p{
text-align:center;
}

.jogos {
width: 100%;
padding-top:5px;
}

.jogo {
width: 100%;
}

.jogo img{
width: 100%;
}

#cf {
  position:relative;
  width: 100%;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

@media (max-width: 767px) {
	.contatos {
	display: none;
	}
}

@media (min-width: 768px) {
	.rodape {
	display: none;
	}
}






