.cab {
  background-color: black;
  height: 100px;
  width:100%;
}

.menu {
  height: 100px;
  width:100%;
}

.marca {
  background-color: black;
  height: 100px;
  width: 100%;
}

.contatos {
  background-color: black;
  height: 100px;
  width: 100%;
}

.navbar-right{
padding-top: 25px;
padding-right: 10px;
}

.navbar-right a{
color: #ed1c24;
}



.tabelarodape {
width:250px;
}

.linharodape {
padding-top:12px;
text-align:center
}

.linharodape a {
color: #ed1c24;
}

.linharodape p{
text-align:center;
}

.jogos {
width: 100%;
padding-top:5px;
}

.jogosmob {
width: 100%;
padding-top:5px;
}

.jogo {
width: 100%;
}

.jogo img{
width: 100%;
border-style: solid;
border-width: 2px;
border-color: black;
}

#cf {
  position:relative;
  width: 100%;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

@media (max-width: 767px) {
	.contatos {
	display: none;
	}
	
	.jogos {
	display: none;
	}
	
	.cabmob {
	background-color: black;
	height: 50px;
	width:100%;
    }
	
	.marca  img{	  
	display: block;
    margin-left: auto;
    margin-right: auto; 	  
	}
}

@media (min-width: 768px) {
	.rodape {
	display: none;
	}
	
	.jogosmob {
	display: none;
	}

}






